<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ygz.aspen.dao.sys.MenuMapper" >

    <resultMap id="BaseResultMap" type="com.ygz.aspen.model.sys.Menu">
        <id column="menuId" property="menuId" jdbcType="BIGINT"/>
        <id column="menuName" property="menuName" jdbcType="VARCHAR"/>
        <id column="parentId" property="parentId" jdbcType="BIGINT"/>
        <id column="sort" property="sort" jdbcType="INTEGER"/>
        <id column="icon" property="icon" jdbcType="VARCHAR"/>
        <id column="hidden" property="hidden" jdbcType="TINYINT"/>
        <id column="path" property="path" jdbcType="VARCHAR"/>
        <id column="component" property="component" jdbcType="VARCHAR"/>
        <id column="isDeleted" property="isDeleted" jdbcType="TINYINT"/>
        <id column="created" property="created" jdbcType="BIGINT"/>
        <id column="updated" property="updated" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="addMenu" parameterType="com.ygz.aspen.model.sys.Menu" useGeneratedKeys="true" keyProperty="menuId">
        INSERT INTO
            `menu`(`menuName`, `parentId`, `sort`, `icon`, `hidden`
            , `path`, `component`, `isDeleted`, `created`, `updated`)
        VALUES
            (#{menuName,jdbcType=VARCHAR},
             #{parentId,jdbcType=BIGINT},
             #{sort,jdbcType=INTEGER},
             #{icon,jdbcType=VARCHAR},
             #{hidden,jdbcType=TINYINT},
             #{path,jdbcType=VARCHAR},
             #{component,jdbcType=VARCHAR},
             #{isDeleted,jdbcType=TINYINT},
             #{created,jdbcType=BIGINT},
             #{updated,jdbcType=BIGINT})
    </insert>

    <update id="updateMenuById">
        UPDATE `Menu`
        <set>
            updated=unix_timestamp(),
            <if test="menuName != null and menuName != ''" >
                menuName = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                parentId = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="icon != null and icon != ''" >
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="hidden != null" >
                hidden = #{hidden,jdbcType=VARCHAR},
            </if>
            <if test="path != null and path != ''" >
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="component != null and component != ''" >
                component = #{component,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                isDeleted = #{isDeleted,jdbcType=TINYINT},
            </if>
        </set>
        where menuId = #{menuId, jdbcType=BIGINT}
        limit 1
    </update>

    <select id="selectMenuById" resultMap="BaseResultMap">
        select * from `Menu` where menuId = #{menuId,jdbcType=BIGINT}
    </select>

    <select id="selectMenuList" resultType="com.ygz.aspen.model.sys.Menu">
        select * from `Menu`
        where 1=1
        <if test="menuName != null">
            and `menuName` = #{menuName, jdbcType=VARCHAR}
        </if>
        <if test="parentId != null">
            and parentId = #{parentId, jdbcType=BIGINT}
        </if>
        <if test="menuIds != null">
            and menuId in
            <foreach collection="menuIds" open="(" separator="," close=")" item="mId">
                #{mId}
            </foreach>
        </if>
        <if test="parentIds != null">
            and parentId in
            <foreach collection="parentIds" open="(" separator="," close=")" item="pId">
                #{pId}
            </foreach>
        </if>
        <if test="hidden != null">
            and hidden = #{hidden, jdbcType=TINYINT}
        </if>
        <if test="isDeleted != null">
            and isDeleted = #{isDeleted, jdbcType=TINYINT}
        </if>
        <if test="orderByClause != null">
            order by #{orderByClause}
        </if>
        <if test="pageIndex != null and pageIndex >= 0 and pageSize != null and pageSize > 0">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <select id="countMenu" resultType="java.lang.Integer">
        select count(*) from `Menu`
        where 1=1
        <if test="menuName != null">
            and `menuName` = #{menuName, jdbcType=VARCHAR}
        </if>
        <if test="parentId != null">
            and parentId = #{parentId, jdbcType=BIGINT}
        </if>
        <if test="menuIds != null">
            and menuId in
            <foreach collection="menuIds" open="(" separator="," close=")" item="mId">
                #{mId}
            </foreach>
        </if>
        <if test="parentIds != null">
            and parentId in
            <foreach collection="parentIds" open="(" separator="," close=")" item="pId">
                #{pId}
            </foreach>
        </if>
        <if test="isDeleted != null">
            and isDeleted = #{isDeleted, jdbcType=TINYINT}
        </if>
    </select>


</mapper>