<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ygz.aspen.dao.sys.RoleMapper" >

    <resultMap id="BaseResultMap" type="com.ygz.aspen.model.sys.Role">
        <id column="roleId" property="roleId" jdbcType="BIGINT"/>
        <id column="roleName" property="roleName" jdbcType="VARCHAR"/>
        <id column="roleCode" property="roleCode" jdbcType="VARCHAR"/>
        <id column="isDeleted" property="isDeleted" jdbcType="TINYINT"/>
        <id column="created" property="created" jdbcType="BIGINT"/>
        <id column="updated" property="updated" jdbcType="BIGINT"/>
    </resultMap>

    <update id="updateRole">
        UPDATE `Role`
        SET updated=unix_timestamp(), roleName=#{roleName,jdbcType=VARCHAR}
        where roleId = #{roleId, jdbcType=BIGINT} limit 1
    </update>

    <update id="delRole">
        UPDATE `Role`
        SET updated=unix_timestamp(), isDeleted=1
        where roleId = #{roleId, jdbcType=BIGINT} limit 1
    </update>

    <select id="getRoleById" resultMap="BaseResultMap">
        select * from `Role` where roleId = #{roleId,jdbcType=BIGINT}
    </select>

    <select id="selectRoleList" resultType="com.ygz.aspen.model.sys.Role">
        select * from `Role`
        where 1=1
        <if test="roleName != null">
            and roleName = #{roleName, jdbcType=VARCHAR}
        </if>
        <if test="isDeleted != null">
            and isDeleted = #{isDeleted, jdbcType=TINYINT}
        </if>
        <if test="roleIds != null">
            and roleId in
            <foreach collection="roleIds" open="(" separator="," close=")" item="rId">
                #{rId}
            </foreach>
        </if>
        <if test="orderByClause != null">
            order by #{orderByClause}
        </if>
        <if test="pageIndex != null and pageIndex >= 0 and pageSize != null and pageSize > 0">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>

    <select id="countRole" resultType="java.lang.Integer">
        select count(roleId) from `Role`
        where 1=1
        <if test="roleName != null">
            and roleName = #{roleName, jdbcType=VARCHAR}
        </if>
        <if test="isDeleted != null">
            and isDeleted = #{isDeleted, jdbcType=TINYINT}
        </if>
        <if test="roleIds != null">
            and roleId in
            <foreach collection="roleIds" open="(" separator="," close=")" item="rId">
                #{rId}
            </foreach>
        </if>
    </select>


    <insert id="addRole" parameterType="com.ygz.aspen.model.sys.Role" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO
            `Role`(`roleName`, `roleCode`, `isDeleted`, `created`, `updated`)
        VALUES
            (#{roleName,jdbcType=VARCHAR},
             #{roleCode,jdbcType=VARCHAR},
             #{isDeleted,jdbcType=TINYINT},
             #{created,jdbcType=BIGINT},
             #{updated,jdbcType=BIGINT})
    </insert>


</mapper>