<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ygz.aspen.dao.sys.UserRoleMapper" >

    <resultMap id="BaseResultMap" type="com.ygz.aspen.model.sys.UserRole">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="roleId" property="roleId" jdbcType="BIGINT"/>
        <id column="userId" property="userId" jdbcType="BIGINT"/>
        <id column="isDeleted" property="isDeleted" jdbcType="TINYINT"/>
        <id column="created" property="created" jdbcType="BIGINT"/>
        <id column="updated" property="updated" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="batchAddUserRole" parameterType="java.util.List">
        INSERT INTO UserRole(roleId, userId, isDeleted, created, updated)
        VALUES
        <foreach collection="userRoleList" item="item" separator=",">
            (
                #{item.roleId,jdbcType=BIGINT},
                #{item.userId,jdbcType=BIGINT},
                #{item.isDeleted,jdbcType=TINYINT},
                #{item.created,jdbcType=BIGINT},
                #{item.updated,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <delete id="batchDelUserRoleByUserRoleId">
        delete FROM UserRole where id in
        <foreach collection="userRoleIds" open="(" separator="," close=")" item="rId">
            #{rId, jdbcType=BIGINT}
        </foreach>
    </delete>

    <update id="delUserRole">
        delete FROM UserRole where userId = #{userId,jdbcType=BIGINT}
    </update>

    <select id="selectUserRoleByUserId" resultMap="BaseResultMap">
        select * from `UserRole` where userId = #{userId,jdbcType=BIGINT} and isDeleted = 0
    </select>

    <select id="getUserRoleByUserIds" resultType="com.ygz.aspen.model.sys.UserRole">
        select * from `UserRole` where userId in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId,jdbcType=BIGINT}
        </foreach>
         and isDeleted = 0
    </select>

    <select id="getUserRoleByRoleId" resultType="com.ygz.aspen.model.sys.UserRole">
        select * from `UserRole` where roleId = #{roleId,jdbcType=BIGINT}
        and isDeleted = 0
    </select>

    <insert id="addUserRole" parameterType="com.ygz.aspen.model.sys.UserRole" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO
            `UserRole`(`roleId`, `userId`, `isDeleted`, `created`, `updated`)
        VALUES
            (#{roleId,jdbcType=BIGINT},
             #{userId,jdbcType=BIGINT},
             #{isDeleted,jdbcType=TINYINT},
             #{created,jdbcType=BIGINT},
             #{updated,jdbcType=BIGINT})
    </insert>


</mapper>